<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos de Internet y Notificaciones -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permisos para consumir el Content Provider -->
    <uses-permission android:name="com.example.marsphotos.provider.READ" />
    <uses-permission android:name="com.example.marsphotos.provider.WRITE" />

    <!-- Definición de Permisos personalizados -->
    <permission
        android:name="com.example.marsphotos.provider.READ"
        android:label="@string/permission_read_label"
        android:description="@string/permission_read_desc"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.example.marsphotos.provider.WRITE"
        android:label="@string/permission_write_label"
        android:description="@string/permission_write_desc"
        android:protectionLevel="dangerous" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".MarsPhotosApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SICENET"
        tools:targetApi="33">

        <!-- Content Provider para exponer datos académicos -->
        <provider
            android:name=".data.provider.SicenetContentProvider"
            android:authorities="com.example.marsphotos.provider"
            android:exported="true"
            android:readPermission="com.example.marsphotos.provider.READ"
            android:writePermission="com.example.marsphotos.provider.WRITE"
            android:enabled="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SICENET">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
